.root{
    width: 100%;
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }
    .container{
        margin: 20px;
        width: 80%;
        .pagina{
            text-align: right;
            margin-top: 10px;
        }
    }
}
.searchUnit{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    label {
        display: block;
        padding: 0 10px 0 20px;
    }
    input {
        width: 140px;
    }
}