// 关于babel的配置都放在这里
{
    "presets": [
        "@babel/preset-env",//引入babel
        "@babel/preset-react" //引入babel-react 
    ],
    // 配置antd样式的按需引入
    "plugins": [
        ["import", {
          "libraryName": "antd",
          "libraryDirectory": "es",
          "style": "css" // `style: true` 会加载 less 文件
        }],
        // 在class类中使用es6语法
        ["@babel/plugin-proposal-class-properties",{"loose": true}],
        // 解决 regeneratorRuntime is not defined 问题 
        ["@babel/plugin-transform-runtime",{
          "absoluteRuntime": false,
          "corejs": false,
          "helpers": true,
          "regenerator": true,
          "useESModules": false,
          "version": "7.0.0-beta.0"
        }],
        // 动态import导入
        ["@babel/plugin-syntax-dynamic-import"]
      ]
}