.table{
    width: 100%;
    .thead{
        background: #eee;
        border-bottom: 1px solid #e8e8e8;
        height: 40px;
        th{
            height: 40px;
        }
    }
    tbody{
        tr{
            &:hover{
                background: #e6f7ff;
            }
        }
        td{
            height: 30px;
            border-bottom: 1px solid #e8e8e8;  
        }
    }
}